
.catalog-item {
    color: grey;
    font-weight: 800;
}
.pre-item {
  font-weight: 300;
}
.pre-list {
    list-style: disc;
    padding-left: 16px;
}
.car-item {
    height: 320px;
    width: 240px;
    background-color: rgb(203, 201, 201);
    padding: 2%;
}
.car-text {
    color: gray;

}
.car-price {
    font-weight: 900;
    font-size: xx-large;
}
.car-image {
    height: 180px;
    width: 220px;
}
.content {
    display: flex;
    gap: 16px;
}
.car-list {
    display: flex;
    column-gap: 4%;
    row-gap: 24px;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}
.catalog-list {
    padding: 16px;
}
.hidden {
    visibility: hidden;
    position: absolute;
  left: 0px;
  top: 0px;
}
.button-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.active-button {
    background: #404bbf;
    color: white;
}


.catalog-link {
    text-decoration: none;
    color: gray;
}

.company-list {
    color: gray;
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
    padding: 0;

}
.company-list-item {
    width: 48%;
}
@media (max-width: 767px) {
    .content {
        flex-direction: column;
    }
    .catalog-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .company-list {
        flex-direction: column;
        justify-content: center;
        padding: 8%;
        align-items: center;
    }
    .company-list-item {
        width: 90%;
        justify-content: center;

    }
}